name: Daily Scraper


jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable libnss3 libxss1
          python -m pip install --upgrade pip

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
          pip install webdriver-manager


      - name: Test Chrome and Selenium-Wire
        run: |
          python - <<'PYCODE'
          from seleniumwire import webdriver
          from selenium.webdriver.chrome.options import Options

          options = Options()
          options.add_argument("--headless")
          options.add_argument("--no-sandbox")
          options.add_argument("--disable-dev-shm-usage")

          driver = webdriver.Chrome(options=options)
          driver.get("https://www.google.com")
          print("Captured requests:", len(driver.requests))
          driver.quit()
          PYCODE

      - name: Run scraper
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          DISPLAY: :99
        run: |
          python -m core.main
